.container {
	max-width: 100%;
	min-height: 100vh;
}

.div-content {
  margin-top: 15px;
  padding-right: 15px;
	padding-left: 15px;
}

.read-or-hide{
  color: rgb(20, 20, 20);
  cursor: pointer;
}

@media screen and (min-width: 400px) {
	.container {
		max-width: 90%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 15px;
		padding-left: 15px;
		min-height: 100vh;
	}
}

@media screen and (min-width: 800px) {
  .container {
		max-width: 60%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 15px;
		padding-left: 15px;
		min-height: 100vh;
	}
}

